<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Update Resep</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar('Update Resep')"></nav>
<section>
    <div class="card">
        <div class="card-body">
            <h2 th:text="'Resep berhasil diupdate.'"></h2></div></div></section>
<a href="/resep/viewall">Kembali</a>
</body>
</html>