<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Resep</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('View All Resep')"></nav>
<h2>Daftar Seluruh Resep</h2>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Nomor Resep</th>
        <th scope="col">Nama Dokter</th>
        <th scope="col">Nama Pasien</th>
        <th scope="col">Catatan</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="resep: ${listResep}">
        <td th:text="${resep.noResep}"></td>
        <td th:text="${resep.namaDokter}"></td>
        <td th:text="${resep.namaPasien}"></td>
        <td th:text="${resep.catatan}"></td>
        <td>
            <a th:href="@{/resep/view/} + ${resep.noResep}" class="btn btn-success">Lihat</a>
            <a th:href="@{/resep/change/} + ${resep.noResep}" class="btn btn-warning">Ubah</a>
            <a th:href="@{/resep/delete/} + ${resep.noResep}" class="btn btn-danger">Hapus</a>
        </td>
    </tr>
    </tbody>
</table>
<section>
    <a th:href="@{/}">Kembali ke Home</a>
</section>
</body>
</html>